{% extends "AutomatizUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<h3>Login</h3>
<form  action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <div class="group">
        <input type="text" id="username" name="_username" required="required" ><span class="highlight"></span><span class="bar"></span>
        <label class="label--other ">{{ 'security.login.username'|trans }}</label>
    </div>
    <div class="group">
        <input type="password"  id="password" name="_password" required="required" ><span class="highlight"></span><span class="bar"></span>
        <label class="label--other ">{{ 'security.login.password'|trans }}</label>
    </div>
    <div class="remember-me">
        <label class="label--checkbox">
            <input type="checkbox" class="checkbox" id="remember_me" name="_remember_me" value="on">
            {{ 'security.login.remember_me'|trans }}
        </label>
    </div>
    <button type="submit" class="button buttonBlue">{{ 'security.login.submit'|trans }}
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
</form>
<a href="{{ path('fos_user_registration_register') }}" class="button buttonBlue">{{ 'layout.register'|trans }}
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
</a>
<a href="{{ path('fos_user_resetting_request') }}" class="link-form">{{ 'form.reset'|trans }}</a>
{% endblock fos_user_content %}