<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Automat'iz, the connected cocktails machine.</title>

    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="msapplication-TileImage" content="/assets/img/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="/assets/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <script data-main="{{ asset('bundles/automatizapp/main') }}" src="{{ asset('bundles/automatizapp/bower_components/requirejs/require.js') }}"></script>
    <style>
        ng-md-icon {
            position: relative;
        }

        ng-md-icon svg {
            position: relative;
            top: -4px;
            left: -4px;
        }

        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>
<body ng-controller="MainCtrl as mainCtrl">
    <ng-include src="'{{ asset('bundles/automatizapp/app/common/header/header.html') }}'"></ng-include>
    <div class="main" >
        <ng-include src="'{{ asset('bundles/automatizapp/app/common/sidebar/sidebar.html') }}'"></ng-include>
        <div class="main-section">
            <h3 class="main-section__title" ng-cloak>{{ '{{' }} mainCtrl.page {{ '}}' }}</h3>
            <ng-view></ng-view>
        </div>
    </div>
</body>
</html>