{% extends "AutomatizAppBundle:Default:template.html.twig" %}

{% block content %}
    <!-- ==== HEADERWRAP ==== -->
    <div id="headerwrap" name="home">
        <header class="clearfix">
            <h1>The connected cocktails machine</h1>
            <p>Control with your smartphone a machine to order a cocktail. <br><br> The automatic way to get fun during a party !</p>
            <a href="#about" class="smoothScroll btn btn-lg">See Our Project</a> </header>
    </div>
    <!-- /headerwrap -->

    <!-- ==== ABOUT ==== -->
    <div id="about" name="about">
        <div class="container">
            <div class="row white">
                <div class="col-md-12 col-sm-12" style="margin-top: -30px;">
                    <h2 class="centered">Our Project</h2>
                    <hr>

                    <p>
                        We are a young team of students in our last school year at Polytech Paris - UPMC. We study Electronics and Embedded Systems to get an Engineer diploma.<br>
                        For our last school project, we want to design a connected cocktail machine.
                    </p>
                </div>
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_BXf_h8tEes"></iframe>
                    </div>
                </div>
            </div>
            <!-- row -->
        </div>
    </div>
    <!-- container -->

    <!-- ==== SERVICES ==== -->
    <div id="services" name="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="large">
                        The cocktail machine is controlled by an Android App. The application can configure, order, and handle a creation cocktail. We love social networks, and we would like share with people an API able to provide a CRUD system.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 callout"> <i class="fa fa-desktop fa-3x"></i>
                    <h3>Web App</h3>
                    <p>Erat imperdiet dissentias ea usu, alia aliquid corrumpit ea qui. Eu vim oratio conclusionemque, vel at errem nominavi delicatissimi.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 callout"> <i class="fa fa-gears fa-3x"></i>
                    <h3>Hardware design</h3>
                    <p>Erat imperdiet dissentias ea usu, alia aliquid corrumpit ea qui. Eu vim oratio conclusionemque, vel at errem nominavi delicatissimi.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 callout"> <i class="fa fa-dot-circle-o fa-3x"></i>
                    <h3>Open API</h3>
                    <p>
                        Our API offer you a way to devellop a custom cocktail application. <br><a href="#">See the documentation</a> for more informations.
                    </p>
                </div>
            </div>
            <!-- row -->
        </div>
    </div>
    <!-- container -->

    <!-- ==== TEAM MEMBERS ==== -->
    <div id="team" name="team">
        <div class="container">
            <div class="row centered">
                <h2 class="centered">The Team</h2>
                <hr>
            </div>
            <div class="row centered">
                <div class="col-lg-3 col-md-4 col-sm-4"> <img class="img img-circle" src="{{ asset('bundles/automatizapp/home/img/team/team01.png') }}" height="120px" width="120px" alt="">
                    <h4>Jérémi Le Bourhis</h4>
                    <p>Front End and <br>Back End developper</p>
                    <a href="https://www.facebook.com/jeremlb" target="_blank;"><i class="fa fa-facebook"></i></a> <a href="https://www.linkedin.com/pub/j%C3%A9r%C3%A9mi-le-bourhis/83/254/b59" target="_blank;"><i class="fa fa-linkedin"></i></a>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-4"> <img class="img img-circle" src="{{ asset('bundles/automatizapp/home/img/team/team02.jpg') }}" height="120px" width="120px" alt="">
                    <h4>Pierre Herbelin</h4>
                    <p>Android Developper <br><br></p>
                    <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-4"> <img class="img img-circle" src="{{ asset('bundles/automatizapp/home/img/team/team03.png') }}" height="120px" width="120px" alt="">
                    <h4>Barbara Rivals</h4>
                    <p>Embedded Software Engineer <br><br></p>
                    <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-4"> <img class="img img-circle" src="{{ asset('bundles/automatizapp/home/img/team/team04.jpg') }}" height="120px" width="120px" alt="">
                    <h4>Marc Larroque</h4>
                    <p>Electronics Engineer <br><br></p>
                    <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4">
                    <img class="img img-circle" src="{{ asset('bundles/automatizapp/home/img/team/team05.jpg') }}" height="120px" width="120px" alt="">
                    <h4>Gaëtan Lavoué</h4>
                    <p>Machinals Engineer <br><br></p>
                    <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container -->

    <!-- ==== CONTACT ==== -->
    <div id="contact" name="contact">
        <div class="container">
            <div class="row">
                <h2 class="centered">Contact Us</h2>
                <hr>
                <div class="col-md-4 col-md-offset-4"> <i class="fa fa-envelope-o fa-2x"></i>
                    <p>info@automatiz.fr</p>
                </div>
            </div>
            <!-- row -->

        </div>
    </div>
{% endblock %}